* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
}

.nav-right span {
    color: black;
    margin-top: 10px;
    margin-left: -10px;
}

/* NAVBAR */
.navbar {
    position: absolute; 
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 10;
    transition: background 0.3s ease, padding 0.3s ease;
    background: transparent; 
}

.navbar.scrolled {
    position: fixed;     
    background: white;  
    padding: 10px 50px;  
    top: 0;
    left: 0;
}

.nav-left .logo {
    font-size: 45px;
    font-weight: normal;
    font-weight: bold;
    margin-left: 50px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.nav-center {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.nav-center li {
    position: relative;
}

.nav-center a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    transition: color 0.3s ease;
    padding: 5px;
}

/* Dropdown oculto */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: white;
    padding: 10px 0;
    list-style: none;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Opciones dentro del dropdown */
.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    transition: background 0.3s ease;
}

/* Mostrar el dropdown al hacer hover */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right a {
    text-decoration: none;
    color: black;
    font-size: 25px; 
    margin-top: -15px;
}
.icon {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(0); 
}

.nav-left a {
    text-decoration: none;
    color: inherit; 
}

/* HERO */

/* SECTION1 */

    .product-info {
      max-width: 500px;
    }

    .breadcrumb {
      font-size: 18px;
      margin-top: 200px;
      color: black;
    }

    .breadcrumb a {
         color: inherit;         
        text-decoration: none; 
    }

    h2 {
      font-size: 90px;
      margin: 0px 0 20px;

      font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .price {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;

      font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .description {
      margin-bottom: 20px;
      font-size: 16px;
    }

    ul {
      list-style: disc;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    input {
      width: 20%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 20px;
      border: 1px solid #aaa;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    select {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 20px;
      border: 1px solid #aaa;
    }


    button {
      padding: 14px 30px;
      font-size: 18px;
      border: 2px solid black;
      background: white;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s;
      margin-left: -8px;
    }

    button:hover {
      background: black;
      color: white;
    }

    .product-image {
      padding: 50px;
    }

    .product-image img {
        width: 500px;
      height: 500px;
      display: block;
      margin: -600px 680px;
    }
/* FOOTER */
.footer {
    background-color: #000;
    color: white;
    font-family: 'Times New Roman', serif;
    padding: 50px 20px;
}

.footer-top h2 {
    font-size: 80px;
    margin-bottom: 20px;
    margin-left: 80px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-top p {
    font-size: 20px;
    max-width: 600px;
    margin-bottom: -40px;
    line-height: 1.6;
    margin-left: 80px;
}

.footer-top form {
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    flex-wrap: wrap;
}

.footer-top button {
    padding: 12px 25px;
    font-size: 20px;
    background: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 25px; 
    margin-right: 30px;
}

.footer-top button:hover {
    background: white;
    color: black;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    border-top: 1px solid #444;
    padding-top: 30px;
}

.footer-links h3 {
    font-size: 40px;
    margin-bottom: 15px;
    margin-left: 80px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    transition: opacity 0.3s ease;
    margin-left: 80px;
}

.footer-links ul li a:hover {
    opacity: 0.7;
}

.footer-links p {
    font-size: 14px;
    margin: 4px 0;
    margin-left: 80px;

}

.footer-logo h3 {
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-top input[type="email"] {
    padding: 10px 40px; 
    font-size: 14px;
    border: none;
    border-radius: 3px;
    width: 270px;
    flex: none;
    color: rgb(129, 129, 129);
}