* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.nav-right span {
    color: white;
    margin-top: 10px;
    margin-left: -10px;
}

/* NAVBAR */
.navbar {
    position: absolute; 
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 10;
    transition: background 0.3s ease, padding 0.3s ease;
    background: transparent; 
}

.navbar.scrolled {
    position: fixed;     
    background: black;  
    padding: 10px 50px;  
    top: 0;
    left: 0;
}

.nav-left .logo {
    font-size: 45px;
    font-weight: normal;
    font-weight: bold;
    margin-left: 50px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.nav-center {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.nav-center li {
    position: relative;
}

.nav-center a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: color 0.3s ease;
    padding: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: black;
    padding: 10px 0;
    list-style: none;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    transition: background 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 25px; 
    margin-top: -15px;
}
.icon {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1); 
}

.nav-left a {
    text-decoration: none;
    color: inherit; 
}

/* HERO */
.hero {
    position: relative; 
    background: url('../img/fondo-yoga.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;      
    padding: 0 50px;         
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
    align-items: flex-start; 
    position: relative;  
    z-index: 2;          
    color: white;
    max-width: 600px;         
}

.hero h2 {
    font-size: 120px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 50px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
    margin-left: 50px;
}

.hero a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 600;
    transition: color 0.3s ease;
}

.hero a:hover {
    color: #d1e3ff;
}

/* SECTION1 */
.section-1 {
  padding: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  align-items: start;
}

.left img,
.right img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.text {
  margin-bottom: 20px;
}

.text p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 60px;
}

/* SECTION2 */
.section-2 {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  background: #fff;
  color: black;
}

.section2-content h2 {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.btn-reservar {
  display: inline-block;
  padding: 18px 80px;
  border: 2px solid #000;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  transition: all 0.3s ease;
  margin-top: 30px;
  margin-bottom: 130px;
}

.btn-reservar:hover {
  background: #000;
  color: #fff;
}

/* Texto lateral (BOXEO) */
.side-text {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;  
}

.side-text span {
  font-size: 60px;
  font-weight: 900;
  color: black;
  text-decoration: none;  
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
}

.side-text .arrow {
  font-size: 70px;
  color: black;
}

.side-link {
  font-size: 60px;
  font-weight: 900;
  color: black;
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.side-text, .side-link {
    position: relative;
    float: right;
    margin-top: -12px;
}

/* Texto lateral izquierdo (CARDIO) */
.side-text.left {
  position: absolute;
  bottom: 20px;
  left: 40px;     
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
}

.side-text.left .side-link {
  font-size: 60px;
  font-weight: 900;
  color: black;
  text-decoration: none; 
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
}

.side-text.left .arrow {
  font-size: 50px;
  color: black;
}

/* FOOTER */
.footer {
    background-color: #000;
    color: white;
    font-family: 'Times New Roman', serif;
    padding: 50px 20px;
}

.footer-top h2 {
    font-size: 80px;
    margin-bottom: 20px;
    margin-left: 80px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-top p {
    font-size: 20px;
    max-width: 600px;
    margin-bottom: -40px;
    line-height: 1.6;
    margin-left: 80px;
}

.footer-top form {
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    flex-wrap: wrap;
}

.footer-top button {
    padding: 12px 25px;
    font-size: 20px;
    background: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 25px; 
    margin-right: 30px;
}

.footer-top button:hover {
    background: white;
    color: black;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    border-top: 1px solid #444;
    padding-top: 30px;
}

.footer-links h3 {
    font-size: 40px;
    margin-bottom: 15px;
    margin-left: 80px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    transition: opacity 0.3s ease;
    margin-left: 80px;
}

.footer-links ul li a:hover {
    opacity: 0.7;
}

.footer-links p {
    font-size: 14px;
    margin: 4px 0;
    margin-left: 80px;

}

.footer-logo h3 {
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-top input[type="email"] {
    padding: 10px 40px; 
    font-size: 14px;
    border: none;
    border-radius: 3px;
    width: 270px;
    flex: none;
    color: rgb(129, 129, 129);
}

/* --- ESTILOS RESPONSIVOS --- */

@media (max-width: 1024px) {
    /* NAVBAR */
    .navbar {
        padding: 10px 30px;
    }

    .nav-left .logo {
        font-size: 35px;
        margin-left: 20px;
    }

    .nav-center {
        gap: 15px;
    }
    
    .nav-center a {
        font-size: 18px;
    }

    .nav-right a {
        font-size: 20px;
    }

    /* HERO */
    .hero {
        height: 60vh;
        padding: 0 20px;
    }
    
    .hero h2 {
        font-size: 80px;
        margin-left: 0;
    }
    
    .hero p {
        font-size: 16px;
        margin-left: 0;
    }

    /* SECTION1 */
    .section-1 {
        padding: 30px;
    }
    
    .grid-container {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
    
    .text p {
        margin-bottom: 30px;
    }

    /* SECTION2 */
    .section-2 {
        padding: 50px 20px;
    }
    
    .section2-content h2 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    .btn-reservar {
        padding: 15px 60px;
        font-size: 16px;
        margin-bottom: 80px;
    }
    
    .side-text, .side-link {
        font-size: 40px;
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        float: none;
        justify-content: center;
        margin: 20px auto;
    }
    
    .side-text.left, .side-text.left .side-link {
        justify-content: center;
        text-align: center;
    }

    .side-text .arrow {
        font-size: 50px;
    }

    /* FOOTER */
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-top h2, .footer-top p {
        margin-left: 0;
        text-align: center;
    }
    
    .footer-top h2 {
        font-size: 60px;
    }

    .footer-top p {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer-top form {
        justify-content: center;
        margin-right: 0;
    }

    .footer-top button {
        margin-right: 0;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links h3, .footer-links ul li a, .footer-links p {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 768px) {
    /* NAVBAR */
    .navbar {
        padding: 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-left .logo {
        font-size: 30px;
        margin-left: 0;
    }

    .nav-center, .nav-right {
        display: none; 
    }

    /* HERO */
    .hero {
        height: 50vh;
    }

    .hero h2 {
        font-size: 50px;
        margin-top: 50px;
    }

    .hero p {
        font-size: 14px;
    }

    /* SECTION1 */
    .section-1 {
        padding: 20px;
    }

    /* SECTION2 */
    .section2-content h2 {
        font-size: 35px;
    }
    
    .btn-reservar {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        padding: 12px 40px;
    }
    
    .side-text span, .side-link {
        font-size: 25px;
    }
    
    .side-text .arrow {
        font-size: 30px;
    }

    .side-text.left .side-link {
    font-size: 25px;
}

    /* FOOTER */
    .footer {
        padding: 30px 10px;
    }

    .footer-top h2 {
        font-size: 40px;
    }
    
    .footer-top p {
        font-size: 14px;
        padding: 0 10px;
    }
    
    .footer-top form {
        flex-direction: column;
    }

    .footer-top input[type="email"] {
        width: 90%;
        margin-bottom: 10px;
    }
    
    .footer-top button {
        width: 90%;
    }
    
    .footer-links h3 {
        font-size: 25px;
    }

    .footer-logo h3 {
        font-size: 30px;
    }
}
