* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
}

.nav-right span {
    color: white;
    margin-top: 10px;
    margin-left: -10px;
}

/* NAVBAR */
.navbar {
    position: absolute; 
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 10;
    transition: background 0.3s ease, padding 0.3s ease;
    background: transparent; 
}

.navbar.scrolled {
    position: fixed;     
    background: black;  
    padding: 10px 50px;  
    top: 0;
    left: 0;
}


.nav-left .logo {
    font-size: 35px;
    font-weight: normal;
    font-weight: bold;
    margin-left: 50px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.nav-center {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: 10px;
}
.nav-center li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: color 0.3s ease;
}
.nav-center li a:hover {
    color: #ddd;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 25px; 
    margin-top: -15px;
}
.icon {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1); 
}

.nav-left a {
    text-decoration: none;
    color: inherit; 
}

/* HERO */
.hero {
    position: relative; 
    background: url('img/fondo-energym.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;      
    padding: 0 50px;         
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 
    z-index: 1;
}

.hero-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    position: relative;  
    z-index: 2;          
    color: white;
}

.hero-content h2 {
    font-size: 90px;
    font-weight: bold;
    line-height: 1.2;
    margin:0;
    margin-top: 430px;
    margin-left: 50px;
    
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.btn {
    background: transparent;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 780px;
    border-radius: 40px;
    border: 2px solid white;
}

.btn:hover {
    background: #ffffff;
    color: black;
}

/* SECTION1 */
.section1 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 80px 10%;
    background-color: #000; 
    color: #fff; 
    gap: 50px;
}

.section1 p:first-child {
    font-size: 52px; 
    font-weight: 900; 
    line-height: 1.2; 
    max-width: 800px; 
    margin-top: 50px;
    margin-bottom: 100px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.section1 p:last-child {
    font-size: 18px; 
    font-weight: 400; 
    line-height: 1.6;
    max-width: 500px;
    margin-top: 60px;
}

/* SECTION2 */
.linea {
    height: 1px;       
    background-color: rgb(61, 61, 61); 
    margin: 0;       
    padding: 0;      
}

.section2 {
    background-color: #000;
    padding: 80px 50px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.images-container {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
}

.img-mujeres {
    width: 900px;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

/* SECTION3 */
.section3 {
    text-align: center;
    padding: 50px 20px;
    background-color: #000; 
    color: white;
}

.section3 h2 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 20px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.section3 p {
    font-size: 23px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 40px auto;
    font-family: sans-serif;
}

.section3 .columna {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    margin-bottom: 150px;
}

.section3 ul {
    list-style: none;
    margin-top: 40px;
    margin-left: -10px;
}

.section3 li {
    font-size: 18px;
    margin-bottom: 25px;
    position: relative;
}

.section3 li:not(:last-child)::after {
    content: "•";
    display: block;
    color: white;
    font-size: 20px;
    margin-top: 1px;
}

/* SECTION4 */
.section4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 80px 100px;
    background-color: #fff;
    color: #000; 
    font-family: sans-serif;
}

.section4-texto {
    flex: 1;
}

.section4-texto h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.section4-texto p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 450px;
}

.section4-formulario {
    flex: 1;
}

.section4-formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section4-formulario label {
    font-size: 14px;
    font-weight: bold;
}

.section4-formulario label span {
    font-weight: normal;
    font-size: 12px;
}

.nombre-apellido {
    display: flex;
    gap: 10px;
}

.section4-formulario input {
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 14px;
    width: 40%;
}

.section4-formulario input[type="date"] {
    width: fit-content;
}

.section4-formulario button {
    padding: 10px 45px;
    border: 2px solid #000;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    align-self: flex-start;
}

.section4-formulario button:hover {
    background: #000;
    color: #fff;
}

/* SECTION5 */
.section5 {
    padding: 100px 50px;
    background: linear-gradient(90deg, #d8b26a, #c2b0a6, #a6ada0); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonial-container {
    max-width: 1100px; 
    height: 500px;
}

.testimonial {
    font-family: 'Arial', sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.4;
    margin-top: 50px;
    margin-bottom: 20px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.author {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/* SECTION6 */
.section6 {
    background-color: #000; 
    color: #fff; 
    font-family: 'Arial', sans-serif;
}

.locations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.location {
    flex: 1 1 50%; 
    text-align: center;
    margin-bottom: 50px;
}

.location h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 20px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.location p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 100px;
}

.location .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.location .images img {
    width: 310px; 
    height: 280px;
    object-fit: cover;
}

/* FOOTER */
.footer {
    background-color: #000;
    color: white;
    font-family: 'Times New Roman', serif;
    padding: 50px 20px;
}

.footer-top h2 {
    font-size: 80px;
    margin-bottom: 20px;
    margin-left: 80px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-top p {
    font-size: 20px;
    max-width: 600px;
    margin-bottom: -40px;
    line-height: 1.6;
    margin-left: 80px;
}

.footer-top form {
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    flex-wrap: wrap;
}

.footer-top button {
    padding: 12px 25px;
    font-size: 20px;
    background: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 25px; 
    margin-right: 30px;
}

.footer-top button:hover {
    background: white;
    color: black;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    border-top: 1px solid #444;
    padding-top: 30px;
}

.footer-links h3 {
    font-size: 40px;
    margin-bottom: 15px;
    margin-left: 80px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    transition: opacity 0.3s ease;
    margin-left: 80px;
}

.footer-links ul li a:hover {
    opacity: 0.7;
}

.footer-links p {
    font-size: 14px;
    margin: 4px 0;
    margin-left: 80px;

}

.footer-logo h3 {
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.footer-top input[type="email"] {
    padding: 10px 40px; 
    font-size: 14px;
    border: none;
    border-radius: 3px;
    width: 270px;
    flex: none;
    color: rgb(129, 129, 129);
}




